:root {
  //fonts
  --font-text: 'Roboto', sans-serif;
  --font-text-2: 'NeueMachina-Regular', sans-serif;
  --font-bold: 'Russo One', sans-serif;

  //color
  --color-light: #e5e6e9;
  --color-select: #e24725;
  --color-dark: #0c0501;
}
